<%= link_to 'Home', admin_path %>
  <h2>Edit User</h2>
  Current email: <%= @user.email %>
  <p>
  <%= form_for @user do |f| %>
  <%= f.label :update_email %><br>
  <%= f.text_field :email %>
</p>
  <%= f.submit %>
</p>
<% end %>
